@charset "UTF-8";

body {
  background-color: #d3d3d3;
  color: #d3d3d3;
  text-align: center;
  background: -moz-linear-gradient(0deg, rgb(177, 173, 162), rgb(214, 139, 139));
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  background-color: rgb(167, 152, 152);
  color: white;
  text-align: center;
  padding: 20px;
}

img {
  padding: 0;
  align-items: right;
  display: inline;
}

#imagem {
    width: 270px;
}

#imagem2{
    width: 277px;
}

#imagem3{
    width: 290px;
}

#imagem4{
    width: 283px;
}

#imagem5{
    width: 292px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

.final{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.mais {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: rgb(184, 162, 162);
}

.mais a:hover {
  background-color: gray;
}

.mais a {
  display: block;
  text-align: center;
  background-color: rgb(49, 42, 42);
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a{
  text-decoration: none;
}

.titulo{
  text-shadow: #e6c0c0 2px 3px 2px;
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sinopse{
  font-size: 25px;
}

p{
  text-shadow: black 2px 3px 5px;
}